.contador {
  border-radius: 25px;
  margin-top: 10rem;
  border: solid #4482f5 1px;
  padding: 20px;
  box-shadow: #5341f7 3px 2px 12px;
  background-color: rgba(20, 164, 247, 0.575);
}
.titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  font-family: "Times New Roman", Times, serif;
  font-size: 19px;
  color: #000000;
}
.numero {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 89px;
  padding: 20px;
  font-family: "Times New Roman", Times, serif;
  color: #000000;
}
.botao {
  display: flex;
  align-items: center;
  justify-content: center;
}
.botao button {
  background-color: #8ecbee;
  border: none;
  border-radius: 12px;
  padding: 1rem;
  font-size: 17px;
  margin: 5px;
  font-family: "Times New Roman", Times, serif;
  transition: all 0.2s;
}
.botao button:hover {
  transform: scale(1.2);
  cursor: pointer;
  animation:alternate-reverse 2s;
}
